body {
    font-family: 'Poppins', sans-serif;
    background-color: #f8f9fa;
  }
  
  .navbar {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .card {
    border: none;
  }
  
  .card-title {
    font-weight: 600;
  }
  
  .table {
    margin-top: 20px;
    border: 1px solid #dee2e6;
  }
  
  .table-hover tbody tr:hover {
    background-color: #f1f1f1;
  }
  